<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 注解扫描 -->
    <context:component-scan base-package="com.ggyy0851"/>
    <!--  视图解析器对象，用来模块化处理控制器想要跳转的页面-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
        <!-- 此处可以配置具体需要实例化的view类 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    </bean>
    <!-- 自定义类型转换器，配置类型转换器工厂 -->
    <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id = "conversionServiceFactoryBean">
        <!--  给工厂注入一个新的类型转换器 -->
        <property name="converters">
            <set>
                <!-- 具体进行自定义转换的类 -->
                <bean class="com.ggyy0851.convertors.SomethingToOther"></bean>
                <bean class="com.ggyy0851.convertors.Myconvertors"/>
            </set>
        </property>
    </bean>
    <!-- 我的视图解析器-->
    <bean class="com.ggyy0851.Resovler.MyViewResovler">
        <property name="order" value="0"></property>
    </bean>
    <!-- 管理数据校验的国际化文件 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!-- 该参数的value对应的是资源文件中国际化properties文件的前缀 -->
        <property name="basename" value="i18n"/>
    </bean>
    <!-- 九大组件之一，文件上传组件，id必须为multipartResolver,其中StandardServletMultipartResolver只能在servlet3中使用
    而CommonsMultipartResolver可在旧版本servlet中使用，但后者需要额外导入包-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" >
        <!-- #{}是spring表达式  限制上传最大值 -->
        <!--<property name="maxUploadSize"  value="#{1024*1024*20}"></property>
        <property name="defaultEncoding" value="utf-8"></property>-->
    </bean>
    <!-- 对componse,controller等注解进行扫描,也能在这里定义自己实现的类型转换工厂 -->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
    <!-- 指定将某个路径访问的path进行映射，达到不需要通过controller类就实现跳转页面的效果，但这个方式仍然是走了默认的springmvc
     流程的，可实现国际化等操作。但需要和annotation-driven标签配合使用，否则会导致问题-->
    <!-- 该标签用于不实现逻辑，只负责跳转的controller，以免出现过多的无意义的controller方法 -->
    <mvc:view-controller path="/tosuccess" view-name="success"/>
    <mvc:interceptors>
        <!--直接配置的话，默认拦截所有请求 <bean class="com.ggyy0851.controller.MyInterceptor"/>-->
        <mvc:interceptor>
            <mvc:mapping path="/hello"/>
            <bean class="com.ggyy0851.controller.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>